{
	'LagoonRegion' : (650,180,940,620),
	'Lagoon1' :   (67, 13, 60, 210),
	'Lagoon2' :  (151, 14, 60, 210),
	'Lagoon3' :   (226, 10, 59, 210),
	'Lagoon4' :   (299, 16, 60, 210),
        'NumLagoons'   :    4,
	'Frames'       :   20,
        'lagoonHeight' : 210,    # Can be thought of as the divisor for levelScale
        'levelScale'   : 100,   # 100 will give level as percentage of lagoonHeight
        'camera'       : 'outdoor',
        'rotate'       : 90,
        'MAC'          : "00:62:6e:4f:17:d9",
        'defaultIP'    : "172.16.3.123",
        'userpwd'      :  "&usr=scrapsec&pwd=lakewould",
        'brightness'   :  60,   # 0-100 for outdoor camera
        'brightnessCmd': ":88/cgi-bin/CGIProxy.fcgi?cmd=setBrightness&brightness=",
        'contrast'     :  30,   # 0-100 for outdoor camera
        'contrastCmd'  : ":88/cgi-bin/CGIProxy.fcgi?cmd=setContrast&constrast=", # NB: Foscam typo
        'picCmd'       : ":88/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=scrapsec&pwd=lakewould"
}
